extends layout

block content
  h1= title
  p Welcome to #{title}
  p Math.pow() applied to #{val} is #{f1}
  p Math.sign() applied to #{val} is #{f2}
  p Math.tanh() applied to #{val} is #{f3}
  p Math.trunc() applied to #{val} is #{f4}
